{# templates/index.html #}

{% extends "base.html" %}

{% block content %}
  <section>
            <p>For over a thousand years people in urban and rural China have enjoyed the spectacle
                of Chinese shadow theater, in which historic and fantastic tales are dramatized by
                brilliantly colored, rawhide figures along with spoken and sung dialog and
                traditional music. Shadow figures are manipulated from behind a cloth scrim by
                several players, while in front the audience sees lifelike movements of translucent,
                vivid figures of heavenly immortals, earthly heroes, and suffering souls. The unique
                feature of translucency achieves a supernatural effect through backlighting the
                scrim, increasing the other-worldly nature of this popular entertainment, which in
                many performances honored local Buddhist and Taoist deities.</p>
            <p>The East Asian Library and the Gest Collection of Princeton University is proud to
                have a set of over 2,000 pieces of Chinese shadow figures. Made in the Luanzhou 灤州
                or Leting 樂亭 style popular in northeast China, to all appearances during the last
                years of the Qing dynasty (1644-1912) or the early years of the Republican Period
                (1912-1949), they were acquired in the late 1920s for Guion Moore Gest (1864-1948),
                the founder of the Gest Collection, by his purveyor Irvin Van Gorder Gillis
                (1875-1948), residing in Peking. When the Gest Rare Book Collection moved from
                Montréal to Princeton, a generous (and long-time anonymous) donation by Esther S.
                Bailey (18??-1963), former secretary of the Institute for Advanced Study, enabled
                these objects to remain an integral part of the Gest Collection.</p>
            <p>As such, they were kept intact by Nancy Lee Swann, the Curator of the Gest Collection
                from 1931 to 1948, a well-known scholar, who arranged for the collection to be seen
                by the two major American practitioners of Chinese shadow theater, Pauline Benton
                (1898-1974) of the Red Gate Players, and, later, Jo Humphrey of the Yueh Long Shadow
                Theatre. While Benton had plans to organize performances on behalf of the China Aid
                Council during WWII, this seems not to have come to fruition, but some pieces would
                be later used for two exhibitions at the New Jersey State Museum, and Humphrey
                organized an exhibition at the Chung-Cheng Art Gallery, St. John’s University in New
                York in 1980, in which figures from the Gest Collection were exhibited. Since then
                the collection was stored away largely out of view, and remained unknown to the
                general public.</p>
            <p>Chance inquiries in 2006 by a Princeton resident, Mary E. Hirsch, a scholar of
                Chinese shadow theater, resulted in her undertaking the cataloging and re-housing of
                the collection and curating an exhibition, <a
                    href="https://library.princeton.edu/eastasian/luminous-worlds">Luminous
                    Worlds</a>, in 2009. This exhibition, curated by her, is the culmination of that
                project. For the first time in more than 50 years, the general public is able to
                view a small but wide-ranging selection of Princeton University’s shadow
                figures.</p>

  </section>
{% endblock content  %}
