{# templates/objects.html #}

{% extends "base.html" %}

{% block content %}
  <section>
    <h2>{{type}}</h2>
    <nav>
      <ul>
        {% for i in nav %}
          <li><a href="{{i.link}}">{{i.label}}</a></li>
        {% endfor %}
        </ul>
      </nav>
  <dl>
  {% for object in objects %}
    <dt>object {{object.id}}</dt>
    <dd>{{ object.description }}</dd>

     {% for img in object.images %}
       <dd><a href="image_pages/{{img}}">
           <img src="thumbnails/{{img}}" />
       </a></dd>
     {% endfor %}
  {% endfor %}
  </dl>
  </section>
{% endblock content  %}
